.SiteWrapper{
  /*this makes it easy for the website to fit multiple screens and be responsive*/
  max-width:1080px;
  margin:0 auto;
  padding:0 25px;
  width:100%;
}

.Home{
  margin:0 auto;
  max-width:640px;
}

.Home h1{
  text-align:center;
}

.cityName{
  text-transform: uppercase;
  font-weight: bolder;
  font-size:86px;
  line-height: 86px;
}

.WeatherInfo{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  text-align:center;
}
/*the p is there to override the browsers styling*/
.WeatherInfo .CurrentTemp p{
  margin:0px;
}

/*the p is there to override the browsers styling*/
.WeatherInfo .CurrentTempLabel{
  font-size:76px;
}

.WeatherInfo .CurrentTempNumber{
  font-size:76px;
  color:#5f6878;
}

.WeatherInfo strong{
  color: #5f6878;
  font-weight: bold;
}